<link rel='stylesheet' href='/stylesheets/style2.css'/>
<div class="wrapper" style="margin-bottom: 155px">
<div class="map">
    <img src="./images/map.png" style="width: 100%;height: 100%">
</div>
<div class="contactbox pull-right">
    <h2>Юридический адрес и реквизиты</h2>
    <p> ООО "СПИННЕР плюс"(Общество с ограниченной ответственостью "СПИННЕР ПЛЮС")</p>
    <p>г. Минск, ул. Пушкина, д.Колотушкина, 4-й этаж 25 офис </p>
    <p>УНН 190657494<br>
    ОКПО 37676608<br>
    Р/сч BY40TECN30120648100060000000 в ОАО «Технобанк», г. Минск, ул.Кропоткина, д.44, TECNBY22</p>
    <p style="font-weight: bold">Контактные лица:</p>
    <p>Директор: Хотеновскиий Евгений Романович</p>
    <p>По вопросам сотрудничества и трудойстройства обращаться к Воробьеву Анатолию Михайловичу</p>
    <p style="font-weight: bold;">Контактные номера:</p>
    <p>+375(25)-621-23-23</p>
    <p>+375(33) 133-72-28</p>
</div>
</div>