<link rel='stylesheet' href='/stylesheets/style2.css' />
<div class="wrapper">
    <div class="infobox">
        <h2 class="text-center" style="margin-bottom: 30px">Что же ткое Спиннер?</h2>
        <img src="./images/Fidget.jpg"  class="pull-left">
        <p>Вы что-то слышали про фиджет спиннер?
            Эта игрушка с подшипником в центре, предназначенная для снятия стресса – настоящий хит 2017 года.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно
            Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.

        </p>
    </div>
    <div class="infobox">
        <h2 class="text-center">Lorem ipsum</h2>
        <img src="./images/Fidget.jpg"  class="pull-right" style="margin-left: 40px">
        <p style="margin-left: 60px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam efficitur sagittis lectus, a pharetra nunc aliquet id.
            In vehicula vitae nisl sit amet pretium. Praesent pharetra, metus eget dapibus placerat, ipsum lorem cursus mauris, a volutpat ante erat quis lectus. Fusce facilisis quam quis ex feugiat sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc eleifend diam porta nisl bibendum, sit amet mollis arcu consequat. Aliquam non consectetur mauris. Quisque rhoncus tristique porta. Mauris eu diam sit amet turpis mollis convallis eu nec arcu. Vestibulum vehicula pretium feugiat. Donec aliquam, erat sit amet blandit sagittis, arcu nibh euismod turpis, sed consequat velit nulla eu quam. Integer non dolor nec sem auctor rutrum. Nam sit amet dignissim velit.
            Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
        </p>
    </div>
    <div class="infobox" style="border: 0px;">
        <h2 class="text-center" style="margin-bottom: 20px  ">Lorem ipsum</h2>
        <img src="./images/Fidget.jpg"  class="pull-left">
        <p>Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем,
            кто имеет проблемы с концентрацией внимания или сильно нервничает.</p>
    </div>
</div>