<link rel='stylesheet' href='/stylesheets/style2.css' />
<div class="wrapper">
    <div class="infobox">
        <h2 class="text-center" style="margin-bottom: 30px">Что же такое Спиннер?</h2>
        <img src="./images/spinners.jpg"  class="pull-left">
        <p>Спиннерами называют небольшие игрушки, fidget toys, они нужны только лишь для того, чтобы вращать их в руке. Функционал их не особо велик, но для любителей вертеть в руках разные предметы они просто незаменимы. Эти игрушки избавят от целого ряда мелких вредных привычек — вместо того, чтобы наматывать на палец прядь волос или теребить пуговицу собеседника, ваши руки будут заняты хендспиннером. Его можно крутить где угодно, он компактен и легко поместится в карман. Хендспиннер поможет скоротать время и пережить стресс — нервные ситуации часто располагают к суетливым движениям.
            Это игрушка для кинестетиков.
        </p>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="infobox">
        <h2 class="text-center">В чем же фишка?</h2>
        <img src="./images/best.jpg"  class="pull-right" style="margin-left: 40px">
        <p style="margin-left: 60px;">Технические характеристики и функционал этих штук весьма ограничены. Это небольшая игрушка , которая просто крутится! Пластиковый или железный корпус (реже используются другие материалы) с подшипником посередине. В подшипнике закреплены «кнопки» чтобы удобно держать хендспинер, пока он вращается – технически эти крутилки для рук устроен до неприличия просто и одинаково! Вы можете вертеть его зажав между двух пальцев, либо на столе, либо просто перебирать в руках. Юные любители крутилок начинают практиковаться в трюках, и многие добиваются успеха – зрелищно перекидывают вращающуюся вертушку с пальца на палец, из-за спины, чеканят ими и делают другие интересные штуки.
        </p>
        <br>

    </div>
    <div class="infobox" style="border: 0px;margin-bottom: 170px;">
        <h2 class="text-center" style="margin-bottom: 20px  ">Хочу себе!</h2>
        <img src="./images/lightspinner.jpg"  class="pull-left">
        <p>При выборе спиннера важно понимать, что его «волшебный» эффект проявляется в полной мере, если вы держите настоящий, хороший спиннер. В любом спинере важна каждая деталь, и если что-то в нем сделано не идеально, вы постоянно будете обращать внимание на эти недостатки и вместо удовольствия получите раздражение.

            Купить настоящий хороший спиннер в Минске можно в <a href="/">нашем каталоге</a>, приезжайте и выбирайте спиннер, который подойдет Вам лучше всего! Также мы обслуживаем и ремонтируем спиннеры, меняем и чистим подшипники, и конечно, консультируем клиентов по любым вопросам, касающимся спиннеров.</p>
    </div>
</div>