<link rel='stylesheet' href='/stylesheets/style2.css' />
<div class="infobox">
    <h2>Что же ткое Спиннер?</h2>
    <img src="" alt="PROPELLER">
    <p>Вы что-то слышали про фиджет спиннер? Эта игрушка с подшипником в центре, предназначенная для снятия стресса – настоящий хит 2017 года. Производители утверждают, что эта вертушка, которую изготавливают из пластика или различных металлов, может помочь тем, кто имеет проблемы с концентрацией внимания или сильно нервничает.</p>
</div>
<div class="infobox">
    <h2>Lorem ipsum</h2>
    <img src="" alt="PROPELLER" class="pull-right">
    <p>Lorem ipsum sperare pacem para bellum et in Arcadia ego sum</p>
</div>
<div class="infobox">
    <h2>Lorem ipsum</h2>
    <img src="" alt="PROPELLER">
    <p>Lorem ipsum sperare pacem para bellum et in Arcadia ego sum</p>
</div>