<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
      <header class="navigation">
          <img height="48px" src="/images/spinner.png"/>
          <h1>Propeller</h1>
          <div class="navigation-links">
              <a href="#">Каталог</a>
              <a href="#">Информация</a>
              <a href="#">Контакты</a>
          </div>
      </header>
    {{{body}}}
    <footer>
        <div class="contditions">
            ООО "СПИННЕР плюс" 2011-2017
            УНП 190536246 ОКПО 37639777
            220004, г. Минск, ул. Пушкина, д.колотушкина, 4-й этаж 25 офис
        </div>
        <div class="phones">
            +375(25)-621-23-23
            +375(29)-621-23-23
            +375(33)-621-23-23
        </div>
        <div class="socials">
            <img src="/images/vk.png"/>
            <img src="/images/facebook.png"/>
            <img src="/images/instagram.png"/>
        </div>
    </footer>
  </body>
</html>
