body
  font: 14px "Roboto", Helvetica, Arial, sans-serif
  position: absolute
  height: 100%
  width: 100%
  p, h1
    margin: 0
  footer
    display: flex
    position: fixed
    bottom: 0


a
  color: #00B7FF

.navigation
  padding: 0 20px
  height: 60px
  color: #fff
  width: 100%
  display: flex
  background: #5cd1d8
  align-items: center
  position: fixed
  h1
    margin-left: 10px
  .navigation-links
    height: 100%
    margin-left: auto
    display: flex
    a
      display: flex
      align-items: center
      &:hover
        background: #fff
        color: #5cd1d8
      font-size: 1.5em
      background: #4ec7ce
      color: #fff
      padding: 5px 10px
      text-decoration: none

footer
  padding: 10px 50px
  color: #fff
  width: 100%
  justify-content: center
  align-items: center
  flex-flow: row wrap
  background: #5cd1d8
  .contditions
    width: 23%
  .phones
    width: 10%
  .socials
    img
      height: 32px
      cursor: pointer

  div
    display: flex
    margin: 0 80px

.spinners-list
  display: flex
  flex-flow: row wrap
  padding: 0 15%
  color: #222
  justify-content: center
  align-content: center
  .spinner
    margin: 20px
    max-width: 21%
    padding: 20px
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center
    .spinner-heading
      display: flex
      align-items: baseline
      span
        margin-left: 10px
        font-size: 1.5em
        color: #666
    img
      height: 135px
    &:hover
      cursor: pointer
      box-shadow: 1px 3px 4px rgba(51,51,51,0.9)
    p
      color: #333


.glass-pagination
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  padding: 0 15% 90px
  a
    margin: 0 5px
    margin-bottom: 20px

.glass-filters
  margin-top: 70px
  display: flex
  align-items: center
  padding: 0 15%
  .num-filter
    width: 25%
  .filter-item
    margin: 0 10px